{% extends "base.html" %}

{% block content %}
<div id="top-left">
  <table width="300" cellpadding="5" cellspacing="0" border="0">
    <tr>
      <td>
        {% include "includes/menu" %}
      </td>
    </tr>
    <tr><td><img src="{{ static_url }}img/spacer.gif" height="10" border="0"></td></tr>
  </table>
</div>

<div id="top-right">
  <table width="900">
    <tr>
      <td>
        <h1>404 nothing here</h1>
        something <a href="/">there</a>
      </td>
    </tr>
    <tr><td><img src="{{ static_url }}img/spacer.gif" height="10" border="0"></td></tr>
  </table>
</div>
{% endblock %}
