<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
{% load static %}

<style>
html {
    {% if page_img %}
    background: url("{% static "img/" %}{{ page_img }}") no-repeat center center fixed;
    {% else %}
    background: url("{% static "img/bgag.jpg" %}") no-repeat center center fixed;
    {% endif %}
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<html>
<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
  <meta name="keywords" content="moon2, space-rock, krakow, cracow, interactive,
    performance, electronic music, algorithmic composition, kinect, motion
    tracking, gesture tracking, body recognition, virtual world, #moon2,
    #spacerock, #krakow, #cracow, #interactive, #performance, #electronicmusic,
    #algorithmiccomposition, #kinect, #motiontracking, #gesturetracking,
    #bodyrecognition, #virtualworld">
  <meta name="description" content="MOON2 space-rock from Cracow, Poland. Inhuman music made by humans for humankind.">
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
  <title> {{ page_title }} </title>
</head>

<body>
<div id="container">
  {% block content %}{% endblock %}
</div>
</body>
</html>
