<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<style>
{
    margin: 0;
    padding: 0;
}
html {
    background: url('/static/img/{{ page_img }}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<html>
<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ static_url }}css/style.css" />
  <title> {{ page_title }} </title>
</head>

<body>

<table class="tableCNTR" cellpadding="0" cellspacing="0" border="0">
  <!-- initial space -->
  <tr><td><img src="{{ static_url }}img/spacer.gif" height="30" border="0"></td></tr>

  <tr>
    {% block content %}{% endblock %}
  </tr>

  <!-- space -->
  <tr><td><img src="{{ static_url }}img/spacer.gif" height="80" border="0"></td></tr>
</table>

</body>
</html>
