<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<style>
html {
    background: url('/static/img/{{ page_img }}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<html>
<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ static_url }}css/style.css" />
  <title> {{ page_title }} </title>
</head>

<body>
<div id="container">
  {% block content %}{% endblock %}
</div>
</body>
</html>
