<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
<html>
<head>
<title> {% block title %}{% endblock %} </title>
<link rel="stylesheet" type="text/css" href="../../site_media/css/style.css">
</head>

<body>
<h1></h1>

<table id="tableCNTR" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <img src="../../site_media/img/spacer.gif" height="15" border="0">
    </td>
  </tr>
  <tr>
    <td vAlign="top">

      <!-- left column -->
      <table width="272" cellpadding="10" cellspacing="0" border="0">
	<tr>
	  <td class="small" vAlign="top">

	    <!-- block -->
	    <table border="0">
	      <!-- initial space -->
	      <tr>
		<td>
		  <img src="../../site_media/img/spacer.gif" height="5" border="0">
		</td>
	      </tr>
	      <!-- block header -->
	      <tr>
		<td class="blockhead">
		  Denis Kolokol
		</td>
	      </tr>
	      <!-- block body -->
	      <tr>
		<td>
		  <table cellSpacing="3" cellPadding="3" align="left" border="0">
		    <tr>
		      <td>
		      <div><img hspace=0 src="https://lh3.googleusercontent.com/-xV9vosPVmBQ/ThSqdeVBUiI/AAAAAAAAAqc/SNFGvM8HjiA/yells.jpg" border="0">
		      </div>
		      </td>
		    </tr>
		  </table>
		  musician, independent software developer
		  <p>current location:
		  <br>Kraków, Poland
		  <br>contact:
		  <br><a href="mailto:please_copy@paste.email">denis_kolokol AT ukr.net</a>
		</td>
	      </tr>
	    </table>
	    <!-- block end -->
	    
	  </td>
	</tr>

	<tr>
	  <td class="small" vAlign="top">

	    <!-- block -->
	    <table border="0">
	      <!-- initial space -->
	      <tr>
		<td>
		  <img src="../../site_media/img/spacer.gif" height="5" border="0">
		</td>
	      </tr>
	      <!-- block header -->
	      <tr>
		<td class="blockhead">
		  bio
		</td>
	      </tr>
	      <!-- block body -->
	      <tr>
		<td>
		  <p>Born 1978 in Ukraine, currently lives and works in Kraków, Poland. Composer, performer, developer of interactive systems. Started writing his own music in 2006 with the means of computer. Have been organizing a festival for experimental music as well as have worked on music and interactive sound-systems for theater. Artist in residence in 2008 at SME of the Academy of Music in Kraków, Poland (music and inter-media under the guide of prof. Marek Chołoniewski); in CalArts, USA CA 2009 and 2012 (via CECArtsLink), in Map Extension, Huesca, Spain 2011. Initiated theVolume duo (http://thevolume.net/) in 2006, which become a trio in 2010.
Denis tries to combine non-intersecting or even opposite things: interactivity with algorithmic composition, granular synthesis with sound poetry, etc. His own voice is his only material, while his body is the only controller.</p>
		</td>
	      </tr>
	    </table>
	    <!-- block end -->

	  </td>
	</tr>
      </table>
    </td>

    <td vAlign="top">

      <!-- central column -->
      <table width="480" cellpadding="10" cellspacing="0" border="0">
	<tr>
	  <td class="small" vAlign="top">

	    <!-- block -->
	    <table border="0">
	      <!-- initial space -->
	      <tr>
		<td>
		  <img src="../../site_media/img/spacer.gif" height="5" border="0">
		</td>
	      </tr>

	      <!-- block header -->
	      <tr>
		<td class="blockhead">
		  music moves matter
		</td>
	      </tr>
	      <!-- block body -->
	      <tr>
		<td>
		  <p>Any complex dynamic system shows extreme sensitivity to initial conditions. That means that the behavior of the same system with insubstantial difference in the initial conditions, will always be unpredictably different.</p>
		  <p>We live in ultra-complex reality holding together by chaotic connections between things and events. Insignificant occurrences can cause global changes. All things are interconnected, there are no things of smaller or bigger importance. On a global scale all things are important as well as any particular thing is unimportant. Acute sensitivity causes extreme unpredictability.</p>
		  </p>Music can be organized this way. One of the most elegant branches in contemporary mathematics called 'chaotic maps' (that includes algorithms known as attractors, for example, those of Hénon and Lorenz) is able to produce streams of numbers, in which one can find small models of natural phenomena like growth of an organism, a tornado, a cyclone - they literally "look like" those appearances. Once obtained, those numbers can be mapped to parameters of sound: pitch, duration, density, attacks and decays, spectral characteristics, etc. With this I seek to build a small audio model of much broader system.</p>
		  <p>I never predict any exact sound as I don't want my music to be precisely constructed - I want it to be full of collisions, storms, cyclones, and furiously moving masses of matter... </p>
		</td>
	      </tr>
	    </table>
	    <!-- block end -->

	  </td>
	</tr>
      </table>
    </td>

    <td vAlign="top">

      <!-- right column -->
      <table width="272" cellpadding="10" cellspacing="0" border="0">
	<tr>
	  <td class="small" vAlign="top">

	    <!-- block -->
	    <table border="0">
	      <!-- initial space -->
	      <tr>
		<td>
		  <img src="../../site_media/img/spacer.gif" height="5" border="0">
		</td>
	      </tr>
	      <!-- block header -->
	      <tr>
		<td class="blockhead">
		  grants and scholarships
		</td>
	      </tr>
	      <!-- block body -->
	      <tr>
		<td>
		 :: Artist in residence in the Electroacoustic Music Studio (SME) of the Academy of Music in Kraków, Poland 2008 
		  <br>:: CECArtsLink fellow in 2009 <a href="http://www.cecartslink.org/">http://www.cecartslink.org/</a> - residency at <a href="http://music.calarts.edu/">CalArts</a> <br>:: Mobility grant and residence Map Extension 2011 <a href="http://www.art4eu.net/">http://www.art4eu.net/</a>  <br>:: CECArtsLink Independent Project 2011 (to be realized in 2012) <a href="http://www.cecartslink.org/">http://www.cecartslink.org/</a>
		</td>
	      </tr>
	    </table>
	    <!-- block end -->
	  </tr>
	  <tr>
	    <td>
	    <!-- block -->
	    <table border="0">
	      <!-- initial space -->
	      <tr>
		<td>
		  <img src="../../site_media/img/spacer.gif" height="5" border="0">
		</td>
	      </tr>
	      <!-- block header -->
	      <tr>
		<td class="blockhead">
		  participation
		</td>
	      </tr>
	      <!-- block body -->
	      <tr>
		<td>
		  REPLICA festival (2006, 2007, Almaty KZ), Intermedium 2008, Intermedium 2008#2 (2008, Kraków PL), Unsound on tour (2008, Minsk BY), Unsound (2009, PL), Zone @ Secession (2009, Vienn AU), Noc Muzeów (2010, Kraków PL, collaborator of Muzeum Narodowe w Krakowie), Ultrahang (October 2010, Budapest HU), Unsound (October 2011, Kraków PL), Ad Libitum (October 2011, Warsaw PL)...
		</td>
	      </tr>
	    </table>
	    <!-- block end -->

	  </tr>
	  <tr>
	    <td>
	    
	    <!-- block -->
	    <table border="0">
	      <!-- initial space -->
	      <tr>
		<td>
		  <img src="../../site_media/img/spacer.gif" height="5" border="0">
		</td>
	      </tr>
	      <!-- block header -->
	      <tr>
		<td class="blockhead">
		  other activities
		</td>
	      </tr>
	      <!-- block body -->
	      <tr>
		<td>
		  :: <a href="http://soundagmata.wordpress.com/">http://soundagmata.wordpress.com/</a>
		  <br>:: <a href="http://www.replicafest.org/">http://www.replicafest.org/</a>
		  <br>:: <a href="http://millermusic.kz/">http://millermusic.kz/</a>
		</td>
	      </tr>
	    </table>
	    <!-- block end -->

	  </td>
	</tr>
      </table>
    </td>
</table>

<table id="tableCNTR">
  <!-- initial space -->
  <tr>
    <td>
      <img src="../../site_media/img/spacer.gif" height="15" border="0">
    </td>
  </tr>
  <tr>
    <td align="center">
      main | about | blog | projects | discography | music | video
    </td>
  </tr>
</table>

</body>
</html>
