{% extends "base.html" %}

{% block content %}
  <td>
    <table width="90%" height="230" cellpadding="5" cellspacing="0" border="1">
      <tr>
	<td class="small" width="300">
	  <!-- block -->
	  <table border="0">

	    <!-- initial space -->
	    <tr><td><img src="{{ static_url }}img/spacer.gif" height="5" border="0"></td></tr>

	    <!-- block header -->
	    <tr>
	      <td class="blockhead">
		{{ data.title }}
	      </td>
	    </tr>

	    <!-- block body -->
	    <tr>
	      <td>
		{% if data.subtitle %}<p><i>{{ data.subtitle|linebreaks }}</i></p>{% endif %}
		<p>{{ data.text|linebreaks|urlize }}</p>
		{{ data.video }}
	      </td>
	    </tr>
	  </table>
	  <!-- block end -->	    
	</td>
	<td colSpan="2" align="right">
	  {% for item in data.personnel %}
	  <br>	  
	    {% if item.url %}
	  <a href="{{ item.url }}">{{ item.name }}</a>
	    {% else %}
	  {{ item.name }}
	    {% endif %}

	    {% if item.role %}
	  : <i>{{ item.role }}</i>
	    {% endif %}
	  {% endfor %}
	</td>
      </tr>
      <tr>
	<td class="small" width="300">
	  first row second column
	</td>
	<td class="small" width="300">
	  second row second column
	</td>
	<td class="small" width="300">
	  third row second column
	</td>
      </tr>
    </table>
  </td>
{% endblock %}