{% extends "base.html" %}

{% block content %}
<table width="100%" cellpadding="5" cellspacing="0" border="0">
  <!-- menu -->
  <tr>
    <td colSpan=6>
      {% include "includes/menu" %}
    </td>
  </tr>
  {% include "includes/spacer_cell" %}
  <!-- data -->
  <tr>
    {% for column in content %}
    <td vAlign="top">
      <table width="{% if request.user_agent.is_mobile %}100%{% else %}300{% endif %}"
        cellpadding="5" cellspacing="0" border="0">
      {% for item in column %}
        {% if request.user_agent.is_mobile %}
          {% include "includes/unit" %}
        {% else %}
          {% include "includes/unit_cell" %}
        {% endif %}
      {% endfor %}
      </table>
    </td>
    {% endfor %}
  </tr>
</table>
<!-- footer -->
<div id="bottom-left">
  <table width="100%" cellpadding="5" cellspacing="0" border="0">
    {% include "includes/spacer_cell" %}
    <!-- logos -->
    <tr>
      <td>
        {% include "includes/social" %}
      </td>
    </tr>
    {% include "includes/spacer_cell" %}
  </table>
</div>
{% endblock %}
