{% extends "base.html" %}
{% load static %}

{% block content %}
<table width="45%" cellpadding="5" cellspacing="0" border="0">
  <!-- menu -->
  <tr>
    <td colSpan=6>
      {% include "includes/menu" %}
    </td>
  </tr>

  <!-- spacer -->
  <tr>
    <td>
      <img src="{% static "img/spacer.gif" %}" height="10" width="10" border="0">
    </td>
  </tr>

  <!-- data -->
  <tr>
  {% for column in content %}
    <td>
      <table width="50%" cellpadding="5" cellspacing="0" border="0">

      {% for item in column %}
	<tr>
	  <td class="small">
	    <!-- block -->
            {% include "includes/unit" %}
            <!-- block end -->
	  </td>
	</tr>
      {% endfor %}

      </table>
    </td>
  {% endfor %}
  </tr>
</table>

<!-- footer -->
<div id="bottom-left">
  <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <!-- spacer before -->
    <tr>
      <td>
        <img src="{% static "img/spacer.gif" %}" height="10" width="10" border="0">
      </td>
    </tr>
    <!-- logos -->
    <tr>
      <td>
        {% include "includes/social" %}
      </td>
    </tr>
    <!-- spacer after -->
    <tr>
      <td>
        <img src="{% static "img/spacer.gif" %}" height="10" width="10" border="0">
      </td>
    </tr>
  </table>
</div>

{% endblock %}
