{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="top-left">
  <table width="300" cellpadding="5" cellspacing="0" border="0">
    <tr>
      <td>
        {% include "includes/menu" %}
      </td>
    </tr>
    <tr><td><img src="{% static "img/spacer.gif" %}" height="10" border="0"></td></tr>
  </table>
</div>

<div id="top-right">
  <table width="900">
    <tr>
      <!-- data -->
      {% for column in content %}
      <td>
        <table>
          <tr>
            {% for item in column %}
            <td>
              <!-- block -->
              {% include "includes/unit" %}
              <!-- block end -->
            </td>
            {% endfor %}
          </tr>
        </table>
      </td>
      {% endfor %}
    </tr>
    <tr><td><img src="{% static "img/spacer.gif" %}" height="10" border="0"></td></tr>
  </table>
</div>
{% endblock %}
